html, body{
    margin: 0;
}


.home_firstthird {
    background-image: url("https://images.unsplash.com/photo-1589010588553-46e8e7c21788?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1560&q=80");
    width: 100%;
    height: 500px;
    display: flex;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 150px;
}
.loginbg {
    background-image: url("https://images.unsplash.com/photo-1496116218417-1a781b1c416c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 1000px;
    padding-top: 50px;
}
/* .navul {
    list-style-type: none;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    padding: 0;
} */

.navbar {
    position: relative;
    text-align: right;
    margin-right: 20px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: -55px;
} 
.navli  {
    display: inline-block;
    padding: 8px;
    text-align: center;
    color: black;
}
.logout {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
/* .logout{
   
    position: absolute;
    margin-top: 10px;
    padding: 8px;
    background-color: rgb(250, 246, 246);
    display: inline-block;
} */

/* .home_left {
    margin-right: 32%;
    margin-top: -35px;
} */

.cart {
    display: inline-block;
    position: relative;
    margin: 10px;
    font-size: 25px;
}
.cartcontainer {
    background-color: rgb(151, 192, 238);
    position: relative;
    height: 2000px;
    margin: 10px;
    
}
.cartitem {
    /* border: solid; */
    background-color: rgb(207, 229, 250);
    margin: 5px;
}

.shift {
    margin-right: 800px;
}

.bttn {
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
    opacity: 0.6;
}
.bttn:hover {opacity: 1}
.left{
    border:solid;
    
}

img {
    height: 230px;
    width: 250px;
    margin-left: -50px;
    margin-top: -50px;
  }

.home_left {
    float: right;
}
.restaurantpageContainer {
    background-color: rgb(149, 212, 236);
    padding: 30px;
    height: 400px;
}

.logintitlefs {
    font-size: 60px;
    margin-left: 40px;
    margin-top: -30px;
    font-family:Arial, Helvetica, sans-serif;
}
.logintitle {
    text-align: center;
    margin-left: 360px;
    font-family:Arial, Helvetica, sans-serif;
}
.loginform {
    text-align: center;
    margin-left: 360px;
}
.signupform {
    text-align: center;
    margin-left: 360px;
}
.header {
    line-height: .15;

}
.logintoggle {
    text-align: center;
    margin-left: 370px;
}
.title {
    font-size: 80px;
    margin-top: -30px;
    margin-left: 20px;
    padding-bottom: 60px;
    font-family:Arial, Helvetica, sans-serif;
}
.resheader {
    margin-left: 20px;
}
.restext {
    font-size: 25px;
    
}

.homethirdtext {
    padding-left: 300px;
    font-size: 25px;
}

.card {
    border: solid;
    background-color: rgb(223, 219, 219);
    border-color: rgb(38, 90, 124);
    padding: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 30px;
    float: left;
    text-align: center;
    width: 150px;
    height: 250px;
  }

.home_firstthird_text {
    margin-top: -30px;
    text-align: center;
    padding: 50px;
    width: 400px;
    margin-left: 35%;
    margin-right: 35%;
    position: absolute;
    background-color: rgb(240, 229, 229);
    justify-content: center;
    border-radius: 25px;
    box-shadow: 0 50px 25px 0 rgba(0, 0, 0, 0.2);
}

.home_becomea_savior {
    background-color: rgb(25, 72, 104);
    padding: 20px;
    color: white;
    position: relative;
    padding-left: 90px;
    padding-bottom: 50px;
    margin:auto
}

.hometext {
    line-height: 2;
    padding-bottom: 20px;
}

.driversimgs {
    display: flex;
    margin-left: 40%;
}

.driverimg2 {
    margin-left: 900px;
    height: 200px;
    width: 200px;
    margin-top: -180px;
    position:absolute;
}
.driverimg3 {
    margin-left: 1100px;
    height: 200px;
    width: 200px;
    margin-top: -180px;
    position:absolute;

}
.driverimg4 {
    margin-left: 1300px;
    height: 200px;
    width: 200px;
    margin-top: -180px;
    position:absolute;

}

.home_secondthird {
    background-color: rgb(208, 208, 252);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    display: flex;
    font-size: 25px;
    padding-left: 300px;
}

.contact {
    background-color: rgb(197, 195, 195);
    padding: 30px;
}
.homesecondimg {
    width: 700px;
    height: 350px;
    padding-right: 50px;
    position: relative;
    margin-left: -200px;
}

.bold {
    font-size: 30px;
}

.driverimg {
    float: right;
    position: relative;
    margin-top: -180px;
    padding-right: 40px;
}

.link {
    color: white;
}

.home_third {
    background-color: rgb(38, 90, 124);
    padding-top: 40px;
    display: flex;
    padding-bottom: 40px;
    position: relative;
    text-align: center;
    padding-left: 70px;
    color: white;
}
.homefinalimg {
    height: 280px;
    width: 480px;
    position: relative;
    float: right;
    margin-left: auto;
    padding-top: 50px;
}

.text {
    line-height: 2;
}
  /*
  #poke-show-card {
    border: solid;
    border-color: #ffcb05;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 30px;
    float: left;
    text-align: center;
    width: 250px;
    height: 400px;
  }
  
  #poke-show-card:hover {
    box-shadow: 0 8px 16px 0 rgba(218, 31, 31, 0.685);
  } */

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(218, 31, 31, 0.685);
  }
 
  

  /* #poke-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  } */

  .flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
  }
  .logoimage {
      position: relative;
      margin:auto;
     

  }
 

  .reviewcard {
    border: gray;
    height: 240px;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 330px;
    background-color: rgb(226, 226, 248);
  }
  .reviewcontainer {
   
      background-color: rgb(213, 213, 248);
  }
  .reviewcard button {
      float: right;
      margin-right: 20px;
  }
  .itemcard {
      margin-left: 30px;
      border: solid;
      margin-top: 3px;
      margin-right: 50%;
  }
  .menu {
      background-color:rgb(223, 223, 245);
      padding: 40px;
  }
  .button {
      background-color: white;
      font-weight: bold;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .logos {
      margin-top: -190px;
      float: right;
  }
  .title {
      margin-bottom: -10px;
      font-size: 40px;

  }